                * {
                box-sizing: border-box;
            }
            
            body {
                font-family: Arial, Helvetica, sans-serif;
                color: rgba(178, 6, 9, 0.89);
            }
            /* Style the header */
            
            .header {
                display: inline-block;
                width: 50%;
                grid-area: header;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                background-color: #f1f1f1;
                color: red;
                padding: 30px;
                white-space: nowrap;
                style: "width:150px";
                text-align: center;
                font-size: 35px;
            }
            
            .topHeader {
                background-color: white;
                grid-area: header;
                text-align: center;
                font-size: 45px;
                width: 25%;
            }
            
            .table {
                margin-top: 10%;
                text-align: center;
                font-size: 45px;
                background-color: pale-red;
            }
            
            .about {
                margin: 5%;
                font-size: 45px;
                background-color: pale-red;
            }
            
            .image {
                margin: 10%;
            }
            
            .list {
                margin-bottom: 0.5%;
                text-align: left;
                font-size: 45px;
                background-color: pale-red;
            }
            
            .frame {
                white-space: nowrap;
                /* в зависимости от отступов нужно будет указать нужный % */
            }
            
            #parent {
                width: 300px;
                height: 90px;
                background-color: yellow;
                overflow-x: auto;
                overflow-y: hidden;
                white-space: nowrap;
            }
            /* The grid container */
            
            .grid-container {
                display: grid;
                grid-template-areas: 'header header header header header header' 'left left middle middle right right' 'footer footer footer footer footer footer';
                /* grid-column-gap: 10px; - if you want gap between the columns */
            }
            
            .left,
            .middle,
            .right {
                padding: 10px;
                height: 300px;
                /* Should be removed. Only for demonstration */
            }
            
            .header,
            .w3-bar {
                display: inline-block;
            }
            /* Style the left column */
            
            .left {
                grid-area: left;
            }
            /* Style the middle column */
            
            .middle {
                grid-area: middle;
            }
            /* Style the right column */
            
            .right {
                grid-area: right;
            }
            /* Style the footer */
            
            .footer {
                grid-area: footer;
                background-color: #f1f1f1;
                padding: 10px;
                text-align: center;
            }
            /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
            
            @media (max-width: 600px) {
                .grid-container {
                    grid-template-areas: 'header header header header header header' 'left left left left left left' 'middle middle middle middle middle middle' 'right right right right right right' 'footer footer footer footer footer footer';
                }
                ;